
.star{
    /* 별 스타일 지정 */
    background:radial-gradient(white 10%, #697fbf, rgba(0,0,0,0) 60% );
    /* 둥 뜨게 지정 */
    position: absolute;
    /* 애니메이션 지정 */
    animation: twingkle 0.5s ease-in-out infinite;
}
/* 별빛 반짝임 애니메이션 */
@keyframes twingkle {
    0%{
        scale: 1;
    }
    50%{
        scale: 2;
    }
    100%{
        scale: 0.1;
    }
}