/* 변수 선언 */
:root {
    --elemental-name: "";
    --elemental-img: url(/rsc/background.jpg);
}
body{
    justify-content: space-between;
}
.reactions-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
}
.reactions-list>li{
    flex: 1;
    aspect-ratio: 1/1;
}
div:has(.elemental-list){
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0), black);
    width: 100%;
    height: 20%;
}
.elemental-list{
    position: absolute;
    box-sizing: border-box;
    display: flex;
    align-items: end;
    padding: 0 20%;
    bottom: 0px; left: 0px;
}
.elemental-list>li{
    flex: 1;
    margin-right: 5%;
    transition: all 0.5s;
}
.elemental-list>li:last-child{
    margin: 0;
}
.elemental-list>li:focus{
    flex: 2;
    background: radial-gradient(rgba(220, 226, 242,0.7) , rgba(0,0,0,0) 70%);
}
/* 선택에 따른 변수 변경 */
:root:has(.wind:focus){
    --elemental-name:"바람";
    --elemental-img:url(/rsc/background/windBackground.jpg);
}
:root:has(.rock:focus){
    --elemental-name:"바위";
    --elemental-img:url(/rsc/background/rockBackground.jpg);
}
:root:has(.lightning:focus){
    --elemental-name:"번개";
    --elemental-img:url(/rsc/background/lightningBackground.jpg);
}
:root:has(.plant:focus){
    --elemental-name:"풀";
    --elemental-img:url(/rsc/background/plantBackground.jpg);
}
:root:has(.water:focus){
    --elemental-name:"물";
    --elemental-img:url(/rsc/background/waterBackground.jpg);
}
:root:has(.fire:focus){
    --elemental-name:"불";
    --elemental-img:url(/rsc/background/fireBackground.jpg);
}
:root:has(.ice:focus){
    --elemental-name:"얼음";
    --elemental-img:url(/rsc/background/iceBackground.jpg);
}
/* 선택에 따른 내용 변환 */
.elemental-name::before{
    content: var(--elemental-name);
}
html{
    background-image: var(--elemental-img);
}